

NET "change_input" LOC = V9;
NET "temporary_overflow" LOC = V8;
NET "reset" LOC = V7;
NET "en" LOC = V6;
NET "clk" LOC = V5;
NET "output_signal[7]" LOC = V4;
NET "output_signal[6]" LOC = V3;
NET "output_signal[5]" LOC = V10;
NET "output_signal[4]" LOC = V11;
NET "output_signal[3]" LOC = V12;
NET "output_signal[2]" LOC = V13;
NET "output_signal[1]" LOC = V14;
NET "output_signal[0]" LOC = V15;
NET "input_signal[7]" LOC = U10;
NET "input_signal[0]" LOC = U11;
NET "parameter_A1_div[0]" LOC = U7;
NET "parameter_A1_mul[0]" LOC = U5;
NET "parameter_A2_div[0]" LOC = U3;
NET "parameter_A2_mul[0]" LOC = U2;
NET "parameter_A2_mul[7]" LOC = U1;
NET "parameter_B0_mul[0]" LOC = U8;
NET "parameter_B1_div[0]" LOC = V16;
NET "parameter_B1_div[7]" LOC = T15;
NET "parameter_B0_div[0]" LOC = U18;
NET "parameter_B0_div[7]" LOC = T13;

# PlanAhead Generated physical constraints 

NET "input_signal[6]" LOC = A2;
NET "input_signal[5]" LOC = A3;
NET "input_signal[4]" LOC = A4;
NET "input_signal[3]" LOC = A5;
NET "input_signal[2]" LOC = A6;
NET "input_signal[1]" LOC = A7;
NET "parameter_A1_div[7]" LOC = A8;
NET "parameter_A1_div[6]" LOC = A9;
NET "parameter_A1_div[5]" LOC = A10;
NET "parameter_A1_div[4]" LOC = A11;
NET "parameter_A1_div[3]" LOC = A12;
NET "parameter_A1_div[2]" LOC = A13;
NET "parameter_A1_div[1]" LOC = A14;
NET "parameter_A1_mul[7]" LOC = A15;
NET "parameter_A1_mul[6]" LOC = A16;
NET "parameter_A1_mul[5]" LOC = B2;
NET "parameter_A1_mul[4]" LOC = B3;
NET "parameter_A1_mul[3]" LOC = B4;
NET "parameter_A1_mul[2]" LOC = B6;
NET "parameter_A1_mul[1]" LOC = B8;
NET "parameter_A2_div[7]" LOC = B9;
NET "parameter_A2_div[6]" LOC = B11;
NET "parameter_A2_div[5]" LOC = B12;
NET "parameter_A2_div[4]" LOC = B14;
NET "parameter_A2_div[3]" LOC = B16;
NET "parameter_A2_div[2]" LOC = C1;
NET "parameter_A2_div[1]" LOC = C2;
NET "parameter_A2_mul[6]" LOC = C4;
NET "parameter_A2_mul[5]" LOC = C6;
NET "parameter_A2_mul[4]" LOC = C5;
NET "parameter_A2_mul[3]" LOC = C7;
NET "parameter_A2_mul[2]" LOC = C8;
NET "parameter_A2_mul[1]" LOC = C9;
NET "parameter_B0_div[6]" LOC = C10;
NET "parameter_B0_div[5]" LOC = C11;
NET "parameter_B0_div[4]" LOC = C13;
NET "parameter_B0_div[3]" LOC = C14;
NET "parameter_B0_div[2]" LOC = C15;
NET "parameter_B0_div[1]" LOC = C17;
NET "parameter_B0_mul[7]" LOC = C18;
NET "parameter_B0_mul[6]" LOC = D1;
NET "parameter_B0_mul[5]" LOC = D2;
NET "parameter_B0_mul[4]" LOC = D3;
NET "parameter_B0_mul[3]" LOC = D4;
NET "parameter_B0_mul[2]" LOC = D6;
NET "parameter_B0_mul[1]" LOC = D8;
NET "parameter_B1_div[6]" LOC = D9;
NET "parameter_B1_div[5]" LOC = D11;
NET "parameter_B1_div[4]" LOC = D14;
NET "parameter_B1_div[3]" LOC = D17;
NET "parameter_B1_div[2]" LOC = D18;
NET "parameter_B1_div[1]" LOC = E1;
NET "parameter_B1_mul[7]" LOC = E3;
NET "parameter_B1_mul[6]" LOC = E4;
NET "parameter_B1_mul[5]" LOC = E13;
NET "parameter_B1_mul[4]" LOC = E16;
NET "parameter_B1_mul[3]" LOC = E18;
NET "parameter_B1_mul[2]" LOC = F1;
NET "parameter_B1_mul[1]" LOC = F2;
NET "parameter_B1_mul[0]" LOC = F3;
NET "parameter_B2_div[7]" LOC = F4;
NET "parameter_B2_div[6]" LOC = F5;
NET "parameter_B2_div[5]" LOC = F6;
NET "parameter_B2_div[4]" LOC = F9;
NET "parameter_B2_div[3]" LOC = F13;
NET "parameter_B2_div[2]" LOC = F14;
NET "parameter_B2_div[1]" LOC = F15;
NET "parameter_B2_div[0]" LOC = F16;
NET "parameter_B2_mul[7]" LOC = F17;
NET "parameter_B2_mul[6]" LOC = F18;
NET "parameter_B2_mul[5]" LOC = G1;
NET "parameter_B2_mul[4]" LOC = G3;
NET "parameter_B2_mul[3]" LOC = G6;
NET "parameter_B2_mul[2]" LOC = G9;
NET "parameter_B2_mul[1]" LOC = G13;
NET "parameter_B2_mul[0]" LOC = G14;

# PlanAhead Generated IO constraints 

NET "input_signal[7]" IOSTANDARD = LVCMOS25;
NET "input_signal[6]" IOSTANDARD = LVCMOS25;
NET "input_signal[5]" IOSTANDARD = LVCMOS25;
NET "input_signal[4]" IOSTANDARD = LVCMOS25;
NET "input_signal[3]" IOSTANDARD = LVCMOS25;
NET "input_signal[2]" IOSTANDARD = LVCMOS25;
NET "input_signal[1]" IOSTANDARD = LVCMOS25;
NET "input_signal[0]" IOSTANDARD = LVCMOS25;
